<app-header></app-header>
<section id="sec">
   <div class="row" style=" padding-top: 200px;padding-bottom: 150px;">
          <div class="col-2 offset-2"> 
                <img id="img" src="../assets/fondo/20231117_104626_1.jpg"/>
          </div>   
          <div class="col-4" style="justify-content: center;">
               <p class="text" style="margin-top: 80px;">Hola!</p>
               <p class="text" style="color: blue;">Soy Kevin Paco</p>
               <p class="text">Analista Programador Universitario</p>
          </div>       
   </div>
</section>
<section id="sec2">
     <div class="row">
          <div class="col-5 offset-1">
              <p id="sobre">Sobre Mi</p>
              <p id="mi">Soy Kevin Paco, Analista Programador Universitario con excelentes habilidades en la programación,

                me gusta colaborar en proyectos y trabajar en equipo. Estoy buscando un puesto de tiempo completo
                
                en el desarrollo de aplicaciones de cualquier tipo. </p>
                <button (click)="descargarArchivo()">Descargar CV</button>
          </div>
          <div class="col-6">
               <p id="sobre">Mis Habilidades</p>
               <p id="mi">Leguajes de programacion</p>
               <div class="row">
                   <img src="../assets/fondo/java.jpg" class="col-3" alt="java" id="habilidad">
                   <img src="../assets/fondo/js.png" class="col-3" alt="java" id="habilidad">
                   <img src="../assets/fondo/c++.jpg" class="col-3" alt="java" id="habilidad">
                   <img src="../assets/fondo/csharp.jpeg" class="col-3" alt="C sharp" >
                </div>
         </div>
      </div>
      <hr>
      <div class="row">
        <p id="mi">Framework y Librerias</p>
        <div class="row">
            <img src="../assets/fondo/ng.png" class="col-3" alt="java" id="habilidad">
            <img src="../assets/fondo/react.png" class="col-3" alt="java" id="habilidad"/>
            <img src="../assets/fondo/spring-framework.jpg" class="col-3" alt="java" id="habilidad">
            <img src="../assets/fondo/ndExpress.png" class="col-3" alt="java" id="habilidad">
        </div>
        <hr>
        <p id="mi">Bases de Datos</p>
        <div class="row">
            <img src="../assets/fondo/mysql.png" class="col-3" alt="java" id="habilidad">
            <img src="../assets/fondo/mongo.png" class="col-3" alt="java" id="habilidad"/>
       </div>
      </div>
</section>
<section id="sec3">
     <div class="container">
          <h3>Mis Proyectos</h3>
          <div class="row">
               <div class="container col-lg-4 col-sm-5 col-12">
                    <figure>
                         <img src="../assets/fondo/js.png" alt="">
                         <div class="capa">
                              <h3>hola </h3>
                              <p>Soy kevin paco</p>
                         </div>
                    </figure>
               </div>
               <div class="container col-lg-4 col-sm-5 col-12">               
                    <figure>
                         <img src="../assets/fondo/js.png" alt="">
                         <div class="capa">
                              <h3>hola </h3>
                              <p>Soy kevin paco</p>
                         </div>
                    </figure>
               </div>
               <div class="container col-lg-4 col-sm-5 col-12">               
                    <figure>
                         <img src="../assets/fondo/js.png" alt="">
                         <div class="capa">
                              <h3>hola </h3>
                              <p>Soy kevin paco</p>
                         </div>
                    </figure>
               </div>
               <div class="container col-lg-4 col-sm-5 col-12">               
                    <figure>
                         <img src="../assets/fondo/js.png" alt="">
                         <div class="capa">
                              <h3>hola </h3>
                              <p>Soy kevin paco</p>
                         </div>
                    </figure>
               </div>
          </div>
     </div>
</section>
<app-footer></app-footer>